<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <span>© 2015 Chandler Huang </span>
      </div>

      <div class="footer-col social-media-list">
          {% if site.github_username %}
            <a href="https://github.com/{{ include.username }}"><i class="fa fa-twitter-square fa-2x"></i></a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ include.username }}"><i class="fa fa-github-square fa-2x"></i></a>
          {% endif %}

          {% if site.facebook_username %}
            <a href="https://facebook.com/{{ include.username }}"><i class="fa fa-facebook-square fa-2x"></i></a>
          {% endif %}

            <a href="/feed.xml"><i class="fa fa-rss-square fa-2x"></i></a>
      </div>

      <!--<div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>-->
    </div>

      <div id="back_top">
          <i class="fa fa-angle-double-up fa-2x"></i>
      </div>

  </div>


</footer>
